<template>
    <div class="main">
        
        <div class="game" v-show="state === 'GAME'">
            <div class="selected" :style="{ color: selected.color  }"> {{ selected.name | nodash }} </div>
            
            <div class="color" 
                v-for="(color, index) in names" :key="color"
                @click="onClick(index)">

                <div>{{ color }}</div>
            </div>
        </div>

        <div class="rules" v-show="state === 'RULES'" @click="start">
            <span>
                There will be displayed 12 colour names.<br/><br/>
                Click button corresponding to colour of displayed text.<br/><br/>
                Click anywher to start.<br/><br/>
                <span @click="onLang"> en </span> <span @click="onLang"> pl </span>
            </span>
        </div
        >
        <div class="done" v-show="state === 'DONE'" @click="start">
            <span>It took you {{ time }} seconds and you made {{ errors }} errors.</span>
        </div>
    </div>
</template>

<script>
const COLORS = ['red', 'green', 'blue', 'yellow', 'black', 'pink', 'orange', 'brown'];
const I18N = {
    en: ['RED', 'GREEN', 'BLUE', 'YELLOW', 'BLACK', 'PINK', 'ORANGE', 'BROWN'],
    pl: ['CZERWONY', 'ZIELONY', 'NIEBIESKI', 'ŻÓŁTY', 'CZARNY', 'RÓŻOWY', 'POMARA-ŃCZOWY', 'BRĄZOWY']
}
export default {
    name: 'ColourGame',
    
    data() {
        return {
            lang: 'en',
            indexName: 0,
            indexColor: 0,
            counter: 12,
            errors: 0,
            time: 0,
            timeStart: 0,
            state: 'RULES'
        };
    },
    computed: {
        selected() {
            return {
                name: this.names[this.indexName],
                color: COLORS[this.indexColor]
            };
            
        },
        names() {
            return I18N[this.lang];
        }
    },
    filters: {
        nodash(txt) {
            return txt.replace(/-/,'');
        }
    },
    methods: {
        
        start() {
            this.randomNext();
            this.counter = 12;
            this.errors = 0;
            this.timeStart = Date.now();
            this.state = 'GAME';
        },
        onClick(index) {
            if (this.indexColor === index) {
                this.randomNext();
                this.counter = this.counter - 1;
            } else {
                this.errors = this.errors + 1;
            }
            if (this.counter === 0) {
                this.state = 'DONE';
                this.time= (Date.now() - this.timeStart) / 1000;
            }
        },
        onLang(event) {
            this.lang = event.target.innerText.trim();
        },
        randomNext() {
            this.indexName = this.random();
            this.indexColor = this.random();
        },
        random() {
            return Math.floor(Math.random() * Math.floor(8));
        }
    }
}

// const LOG = window['console']['log'];
</script>

<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    .main {
        width: calc(100% - 20px);
        height: calc(100% - 60px);
    }
    .game {
        width: 100%;
        height: 100%;
        margin: 0 10px 60px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 8fr 1fr 1fr;
        grid-gap: 8px;
    }
    .game .selected {
        font-size: 24pt;
        font-weight: bold;

        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 1;
        
        justify-self: center;
        align-self: center;
    }
    .game .color {
        cursor: pointer;
        display: grid;
    }
    .game .color div {
        border: 1px solid gray;
        text-align: center;
        align-self: stretch;
        justify-self: stretch;
    }
    
</style>
