<template>
  <div id="app">
    <colour-game/>
  </div>
</template>

<script>
import ColourGame from './components/ColourGame.vue'

export default {
  name: 'app',
  components: {
    ColourGame
  }
}
</script>

<style>
  body {
    margin: 0;
  }
  #app {
    width: 100vw;
    height: 100vh;
  }
</style>
